# ignore block diagram files, they are regenerated
bd/processing_system/!hdl*

zcu102-blinky

#*/*.cache
#*/*.hw
#*/*.ip_user_files
#*/*.runs
#*/*.sdk
#*/*.sim
#*/*.srcs
#*/*.xpr

# do not ignore <project-name>/recreate.tcl
!*/recreate.tcl

#vivado*.jou
#vivado*.log
